/* Resetting some default styles for the body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styles for centralizing content and controlling width */
.container {
    width: 80%;
    margin: 0 auto; /* Centering the container */
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Circular styling for profile image */
img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* Styling for the main heading */
h1 {
    font-size: 2em;
    margin: 10px 0;
}

/* Styling for sections to add margin at the bottom */
section {
    margin-bottom: 30px;
}

/* Styling for subheadings with a colored bottom border */
h2 {
    color: #f06524;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Styling for hyperlinks */
a {
    color: #66c2ff;
}
